---
layout: archive
---

{{ content }}

<p style='font-size: 13pt;'>
    Hi, I'm Joe. I'm a machine learning researcher. I used to be a researcher at
    <a href=https://huggingface.co target=_blank>Hugging Face</a>, an open source
    startup that develops state-of-the-art NLP and machine learning tools. I also
    spent over a year as a Senior ML Scientist at
    <a href="https://envedabio.com">Enveda Biosciences</a>
    where I brought my expertise in NLP and Transformers to
    problems like predicting full chemical structuress from mass spec.
</p>

<p style='font-size: 13pt;'>
    Before joining Hugging Face, I completed my master's at Harvard in Data Science where I did research projects
    with <a href=http://rush-nlp.com/ target=_blank>Sasha Rush</a> (commonsense and NLP) and with 
    <a href=https://finale.seas.harvard.edu/ target=_blank>Finale Doshi-Velez</a> (Bayesian Neural Networks). During my
    stint at Harvard, I interned with IBM Research where I conducted a project on disentanglement in VAEs.
</p>
