---
layout: archive
---

{{ content }}

<p style='font-size: 14pt;'>
    Hi, I'm Joe. I'm a Research Engineer at <a href=https://huggingface.co target=_blank>Hugging Face</a>, an open source
    startup that develops state-of-the-art NLP and machine learning tools. As a member of the science team, I mostly
    work on research projects related to transfer learning and zero/few-shot sequence classification with large
    pre-trained models.
</p>

<p style='font-size: 14pt;'>
    Before joining Hugging Face, I completed my master's at Harvard where I did research projects as part of graduate
    coursework with <a href=http://rush-nlp.com/ target=_blank>Sasha Rush</a> (commonsense and NLP) and with 
    <a href=https://finale.seas.harvard.edu/ target=_blank>Finale Doshi-Velez</a> (Bayesian Neural Networks). During my
    stint at Harvard, I interned with IBM Research where I conducted a project on disentanglement in VAEs.
</p>
